version: "3.7"

services:
  # Conteneur Maître (MAINTENANT NOMMÉ hadoop-master)
  hadoop-master:
    image: liliasfaxi/spark-hadoop:hv-2.7.2 
    hostname: hadoop-master
    container_name: hadoop-master
    environment:
      HADOOP_MODE: master
    ports:
      - "50070:50070" 
      - "8088:8088" 
    volumes:
      - ./app:/home/hadoop/app
    tty: true

  # Conteneur Esclave 1
  datanode1:
    image: liliasfaxi/spark-hadoop:hv-2.7.2
    hostname: datanode1
    container_name: datanode1
    environment:
      HADOOP_MODE: slave
    volumes:
      - ./app:/home/hadoop/app
    depends_on:
      - hadoop-master
    tty: true

  # Conteneur Esclave 2
  datanode2:
    image: liliasfaxi/spark-hadoop:hv-2.7.2
    hostname: datanode2
    container_name: datanode2
    environment:
      HADOOP_MODE: slave
    volumes:
      - ./app:/home/hadoop/app
    depends_on:
      - hadoop-master
    tty: true